@import 'assets/scss/settings/settings.scss';
@import 'assets/scss/tools/tools.scss';

.contact-pointers {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	>.title {
		font-size: 16px;
		text-transform: uppercase;
		font-family: $main-font-bold;
		color:$primary-dark-color;
		margin-bottom: 20px;
		display: block; 
	}
	>.item {
		margin-bottom: 15px;
		>.material-icons {
    		display: block;
    		font-size: 2rem;
		}
		>.material-icons,
		>.title {
			color: $primary-dark-color;
		}
		>.title {
			font-size: 0.8rem;
			font-family: $primary-font-light;
		}
	}
}
