.btn {
	padding: 10px $pdFieldTxt;
	background-color:$primary-dark-color;
	color:$primary-light-color;
	font-size:$fontSizeField;
	border: none;
	&:hover {
		background-color: $secundary-link-color;
		color:$primary-dark-color;
	}
}