.field-text {
	border: none;
	border-bottom: 5px $primary-dark-color solid;
	background-color: transparent;
	position: relative;
	z-index: 1;
	transition: all 0.5s ease-out;
	font-family: $primary-font-regular;
	&:focus {
		border-bottom-color: $secundary-link-color;
		&:not(:valid) {
			+.field-placeholder {
				top: initial;
				bottom: 100%;
			}
		}
	}
	&:valid {
		border-bottom-color: $success-color; 
		+.field-placeholder {
			top: initial;
			bottom: 100%;
		}
	}
}