@import 'assets/scss/settings/settings.scss';
@import 'assets/scss/tools/tools.scss';

.main-container {	
	flex-grow: 1;
	overflow: hidden; 
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	.main-container {
		height: 100%;
	}
}