.cover-area {
	font-family: $main-font-bold;
	font-size: max(2.3rem, 2.5vw);
	line-height: max(2.3rem, 2.8vw);
	padding: 0 max(1.5rem, 1vw);
	z-index: 1;
	color:$primary-color;
	letter-spacing: max(0.3rem, 0.2vw); //5px;
	text-shadow: 0px 0px 3px rgba(17,48,48,0.8);
	small {
		font-size: max(0.48rem, 0.53vw); // 0.72rem;
		line-height: max(1.2rem, 1vw);
		font-family: $primary-font-light;
		color:#fff;
		margin-top: max(0.5rem, 0.5vw);
		text-shadow: 1px 1px 1px rgba(17,44,48,0.8);
		letter-spacing: max(3px, 0.17vw);
    	text-transform: uppercase;
		text-align: center;
		display: block;
		font-weight: bold;
	}
}


//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	.cover-area {
		font-size: 1.60rem; 
		small {
			font-size: 0.30rem;
		}
	}
}