.about-resume {
	height: 100%;
	width: 100%;
	overflow-y: auto; 
	overflow-x: hidden; 
	flex-grow: 2;
	p {
		font-size: 1rem;
		line-height: 1.6rem;
		color:$primary-dark-color; 
		margin-bottom: 1.8rem;
		letter-spacing: 1px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	.about-resume {
		p {
			font-size: 0.9rem;
			line-height: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}