.btn {
    &.btn-send {
        &:before {
            content: 'Send';
        }
        &.sending {
            pointer-events: none;
            opacity: 0.8;
            &:before {
                content: 'Sending...';
            }
        }
    }
}