.contact-pointers {
	position: absolute;
	bottom: 30px;
	z-index: 1;
	display: flex;
	width: 100%;
	>.item {
		text-align: center;
		flex-grow: 1;
		>.material-icons {
    		display: block;
    		font-size: 2rem;
		}
		>.material-icons,
		>.title {
			color: $primary-light-color;
		}
		>.title {
			font-size: 0.8rem;
			font-family: $primary-font-light;
		}
	}
}

//medium
@media (min-width: $screen-min-md) and (max-width: $screen-max-md) {
	.contact-pointers {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		bottom: initial;
    	height: 100%;
		>.item {
			>.material-icons,
			>.title	{
				color: $primary-dark-color;
			}
		}
	}
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	.contact-pointers {
		flex-direction: row;
		align-items: initial;
		justify-content: initial;
		bottom: initial;
		height: 100%;
		width: 100%;
		position: relative;
		>.item {
			word-break: break-all;
			padding: 0 0.5rem;
			>.material-icons {
				display:none;
			}
			>.title	{
				color: $primary-dark-color;
				font-size: 0.65rem;
			}
		}
	}
}