.contact-status {
    &:checked {
        +.container-form {
            transform: rotateY(180deg);
            .form {
                display:none;
            }
            .contact-return {
                display: block;
            }
        }
    }
}