#contact {
	>.title,
	>.content {
		z-index: 1;
	}
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	#contact {
		>.content {
			display: block;
		}
	}
}

//tablet
@media (min-width: $screen-min-tablet) and (max-width: $screen-max-tablet) {
	#contact {
		>.content {
			display: inherit;
		}
	}
}