.side-contact {
	width: 50%;
	position: relative;
	overflow: hidden;
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	.side-contact {
		width: 100%;
	}
}

//medium
@media (min-width: $screen-min-md) and (max-width: $screen-max-md) {
	.side-contact {
		width: 30%;
	}
}

//medium
@media (min-width: 799px) {
	.side-contact {
		height: 100%;
	}
}

