//===========================================================================
//	HELPERS/TRUMPS
//		Nesta camadas temos seletores que trazem estilos que devem ganhar
//		de todos os outros.
//
//		aqui é perfeitamente aceitável que você use !important;
//
//		É bem importante que você não use essas classes para ditar muito
//		sobre a estrutura da sua página. Por isso, muito cuidado na hora de
//		usar trumps como .margin ou .padding.
//
//		É sempre melhor tentar abstrair sua interface, dentro de
//		objetos e componentes.
//===========================================================================

/*DISPLAY*/
.d-block {
	display: block;
}
.d-flex {
	display: flex;
}
.d-none {
	display: none;
}


/*ANIMATED*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

.heartBeat {
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}