.field-form {
	padding: $pdFieldTxt 0;
	font-size: $fontSizeField;
	line-height: $lineHeightFIeld;
	margin: 0;
	width: 100%;
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
	.field-form {
		padding: 10px 0;
	}
}