.credits {
  font-size: 9px;
  font-family: $primary-font-regular;
  position: absolute;
  bottom: 5px;
  padding: 5px;
  text-align: center;
  opacity: 0.6;
  transition: all 1s ease;
  > .mdi {
    font-size: 14px;
    color: $secundary-link-color;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  > .heart,
  > .song {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
  }
  > .heart {
    // -webkit-animation-name: heartBeat;
    // animation-name: heartBeat;
    // -webkit-animation-duration: 1.3s;
    // animation-duration: 1.3s;
    // -webkit-animation-timing-function: ease-in-out;
    // animation-timing-function: ease-in-out;

    -webkit-animation-name: headShake;
    animation-name: headShake;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    @keyframes headShake {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      6.5% {
        -webkit-transform: translateX(-4px) rotateY(-6deg);
        transform: translateX(-4px) rotateY(-6deg);
      }
      18.5% {
        -webkit-transform: translateX(3px) rotateY(5deg);
        transform: translateX(3px) rotateY(5deg);
      }
      31.5% {
        -webkit-transform: translateX(-1px) rotateY(-4deg);
        transform: translateX(-1px) rotateY(-4deg);
      }
      43.5% {
        -webkit-transform: translateX(1px) rotateY(2deg);
        transform: translateX(1px) rotateY(2deg);
      }
      50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
    // @keyframes heartBeat {

    //   0% {
    //     -webkit-transform: scale(1);
    //     transform: scale(1);
    //   }

    //   14% {
    //     -webkit-transform: scale(1.3);
    //     transform: scale(1.3);
    //   }

    //   28% {
    //     -webkit-transform: scale(1);
    //     transform: scale(1);
    //   }

    //   42% {
    //     -webkit-transform: scale(1.3);
    //     transform: scale(1.3);
    //   }

    //   70% {
    //     -webkit-transform: scale(1);
    //     transform: scale(1);
    //   }
    // }
  }
  > .song {
    -webkit-animation-name: tada;
    animation-name: tada;
    @keyframes tada {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      10%,
      20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      }

      30%,
      50%,
      70%,
      90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%,
      60%,
      80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
  }
}

//mobile
@media (min-width: $screen-min-mobile) and (max-width: $screen-max-mobile) {
  .credits {
    width: 60px;
    height: 35px;
    z-index: 9;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
  }
}
